@import '_fonts';
@import '_block-styles';
@import '_clips';

.text-balance {
  text-wrap: balance;
}

.page-numbers {
  @apply w-10 h-10 !no-underline text-xl  inline-flex transition items-center justify-center rounded-full bg-beige bg-opacity-30;
}
.page-numbers:hover {
  @apply !bg-opacity-100;
}

.page-numbers.current {
  @apply !bg-opacity-100 font-bold;
}

.page-sidebar-tree a:hover {
  @apply no-underline;
}

.page-sidebar-tree li a {
  @apply container block py-4 text-xl font-semibold text-blue bg-white bg-opacity-0 hover:bg-opacity-50 transition;
}

.page-sidebar-tree .children {
  @apply hidden;
}

.page-sidebar-tree .current_page_item > .children,
.page-sidebar-tree .current_page_ancestor > .children {
  @apply block;
}

.page-sidebar-tree .children li a {
  @apply text-base gap-2 flex items-start before:mt-3 before:w-6 before:h-px before:bg-blue before:bg-opacity-25;
}

.page-sidebar-tree .current_page_item > a {
  @apply !bg-opacity-100;
}

.post-content,
.page-content {
  @apply max-w-none break-words;
}

.post-content a,
.page-content a {
  @apply transition-all font-bold antialiased decoration-blue/20 hover:decoration-blue/70;
}

.post-content > *:first-child,
.page-content > *:first-child,
.page-content > .group:first-child > *:first-child,
.post-content > .group:first-child > *:first-child {
  @apply !mt-0;
}

.page-content > *,
.post-content > * {
  max-width: var(--wp--style--global--content-size);
}

.fullwidth-content .wp-block-heading {
  @apply container mx-auto;
}

.alignwide {
  @apply max-w-7xl mx-auto;
}

.post-content .alignwide {
  @apply max-w-7xl;
}

.page-content .alignwide {
  @apply max-w-5xl;
}

.post-content .alignfull {
  @apply w-screen max-w-none;
  margin-left: calc(50% - 50vw);
}

.embedded-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mc-field-group:not(.input-group) {
  @apply flex flex-row gap-2  mb-4;
}

.indicates-required {
  @apply text-right ml-auto w-32 block mb-2;
}
.input-group {
  @apply bg-beige p-6 mb-4 bg-opacity-20;
}

.mc-field-group label {
  @apply w-32 pt-2;
}

.form-control {
  @apply p-2 border-2 border-blue border-opacity-50 rounded flex-grow;
}

.button {
  @apply bg-white border-2 border-blue inline-block rounded-full bg-opacity-80 px-10 py-2.5 text-base font-semibold transition duration-300 hover:bg-opacity-100;
}

.manual-list > li {
  @apply list-none  my-4 border rounded border-blue;
}

.manual-list > li > a {
  @apply bg-blue font-semibold block text-white p-4;
}

.manual-list ul li {
  @apply p-4;
}

.manual-list ul li a {
  @apply block;
}

.manual-list ul li + li {
  @apply border-t border-blue;
}
